:root {
  font-size: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 1800px){
  :root {
    font-size: 0.85px;
  }
}
@media screen and (max-width: 1440px){
  :root {
    font-size: 0.85px;
  }
}

@color-gray: #aeaeae;
@color-link: #2b90d3;
@color-blue: #2bb0e3;
@color-blueBack: #2785aa;
@color-yellow: #fbe44a;

@ease-inOutQuart: cubic-bezier(0.23, 1, 0.32, 1);

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  span {
    position: relative;
    cursor: pointer;
    transition: color .35s;
    z-index: 2;
    margin: auto;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -50px;
    margin: auto;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform-origin: center;
    transform: scale(5.5);
    transition: transform .35s @ease-inOutQuart;
  }
  &:hover {
    span {
      color: white;
    }
    &::before {
      transform: scale(0);
    }
  }
  &.blue {
    background-color: @color-blue;
    border: 2px solid @color-blue;
    //height: 33px;
    padding: 10px 20px;
    span {
      font-size: 16rem;
      font-weight: 600;
    }
  }
  &.extra-blue {
    background-color: white;
    border: 2px solid #068fc3;
    padding: 10px 20px;
    &::before {
      background-color: #068fc3;
      transform: scale(6);
    }
    span {
      font-size: 18rem;
      font-weight: 600;
      color: white;
    }
    &:hover {
      span {
        color: black;
      }
      &::before {
        transform: scale(0);
      }
    }
  }
  &.extra-blackblue {
    background-color: white;
    border: 2px solid #013561;
    padding: 10px 20px;
    &::before {
      background-color: #013561;
      transform: scale(7);
    }
    span {
      font-size: 18rem;
      font-weight: 600;
      color: white;
    }
    &:hover {
      span {
        color: black;
      }
      &::before {
        transform: scale(0);
      }
    }
  }
  &.yellow {
    background-color: transparent;
    border: 2px solid @color-yellow;
    &::before {
      background-color: @color-yellow;
      transform: scale(8.5);
    }
    span {
      color: black;
      padding: 25px 0;
    }
    &:hover {
      span {
        color: white;
      }
      &::before {
        transform: scale(0);
      }
    }
  }
  &.footer-button {
    background-color: transparent;
    border: 2px solid #315f81;
    //height: 33px;
    padding: 10px 20px;
    &::before {
      background-color: #315f81;
      transform: scale(0);
    }
    &:hover {
      &::before {
        transform: scale(6);
      }
    }
    span {
      font-size: 16rem;
      font-weight: 600;
      color: white;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16rem;
  overflow-x: hidden;
}

.layout, .layout-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, .75);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .8s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.layout-modal {
  z-index: 8;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  min-width: 320px;
  max-width: 880rem;
  box-sizing: border-box;
  padding: 60rem 120rem;
  border-radius: 2px;
  border-top: 10px solid #013462;
  background-color: #f8f8f8;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -20%, 0);
  transition: .5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 9;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  max-height: 95%;
  &.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  >.close {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #e8e8e8;
    top: 20px;
    right: 20px;
    display: flex;
    transition: .35s;
    z-index: 2;
    &:hover {
      background-color: #e8e8e8;
    }
  }
  .animate {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
    transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &.d1 {
      transition-delay: .2s;
    }
    &.d2 {
      transition-delay: .25s;
    }
    &.d3 {
      transition-delay: .3s;
    }
    &.d4 {
      transition-delay: .35s;
    }
    &.d5 {
      transition-delay: .4s;
    }
    &.d6 {
      transition-delay: .45s;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 40rem;
    font-size: 40rem;
    font-weight: 800;
  }
  &.success {
    max-width: 600rem;
    text-align: center;
    .wrapper {
      h3 {
        margin: 0;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    p.suc {
      font-size: 25rem;
      font-weight: 400;
      margin: 80rem 0;
    }
  }
  &.modal-praxis {
    padding: 20px;
    width: 1835px;
    height: 100%!important;
    max-width: 90%;
    >.close {
      background-color: #e8e8e8;
      &:hover {
        background-color: #bfbfbf;
      }
    }
    .wrapper {
      width: 100%;
      height: 100%;
      overflow: auto;
      >img {
        width: 100%;
      }
    }
  }
}
.close-new-page {
  padding: 20px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 1273px;
  z-index: 5;
  transform: translate3d(0, -140px, 0);
  transition: transform .3s @ease-inOutQuart;
  box-shadow: inset 0 2px 17px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(180deg, rgb(222,222,222) 0%, rgb(255,255,255) 100%);
  &.active {
    transform: translate3d(0, 0, 0);
    transition: transform .45s .75s @ease-inOutQuart;
  }
}
.close-new-page-portfolio {
  padding: 20px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate3d(0, -140px, 0);
  transition: transform .3s @ease-inOutQuart;
  box-shadow: inset 0 2px 17px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(180deg, rgb(222,222,222) 0%, rgb(255,255,255) 100%);
  &.active {
    transform: translate3d(0, 0, 0);
    transition: transform .45s .75s @ease-inOutQuart;
  }
}
.new-page {
  width: 1273px;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100%, 0, 0);
  z-index: 5;
  transition: transform .75s .1s @ease-inOutQuart;
  &.portfolio {
    width: ~"calc(100% - 68px)";
  }
  &.active {
    transform: translate3d(0, 0, 0);
  }
}
.mobile-menu {
  z-index: 3;
  background: #FFFFFF;
  position: fixed;
  top: 55px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
  transition: .35s @ease-inOutQuart;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  >.close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    display: flex;
    transition: .35s;
    padding: 0 0 20px 20px;
    img {
      border: 1px solid #e8e8e8;
      background-color: #e8e8e8;
      padding: 10px;
    }
  }
  nav.menu {
    position: absolute;
    width: 80%;
    min-width: 240px;
    height: 70%;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      li {
        position: relative;
        a {
          display: block;
          padding: 20px;
          color: black;
          text-decoration: none;
          font-size: 20rem;
          font-weight: 600;
          position: relative;
        }
        .ninja-line {
          position: absolute;
          bottom: 10px;
          left: 20px;
          height: 3px;
          width: ~"calc(100% - 40px)";
          background-color: #379bbb;
          opacity: 0;
          display: block;
          transform-origin: center;
          transform: scale(0);
          transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover, &.active {
          .ninja-line {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
header.main-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  box-sizing: border-box;
  min-height: 55px;
  height: 10vh;
  max-height: 80px;
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  .wrapper {
    width: 85%;
    min-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .burger {
      display: none;
      cursor: pointer;
      width: 35px;
      svg {
        fill: @color-blue;
        fill-rule: evenodd;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      .border {
        width: 1px;
        height: 37px;
        margin: 0 20px;
        background-color: @color-gray;
      }
      .slogan {
        font-size: 13rem;
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        width: 120px;
      }
    }
    nav.menu {
      position: relative;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          position: relative;
          a {
            display: block;
            padding: 20px;
            color: black;
            text-decoration: none;
            font-size: 16rem;
            font-weight: 600;
            position: relative;
          }
          .ninja-line {
            position: absolute;
            bottom: 10px;
            left: 20px;
            height: 3px;
            width: ~"calc(100% - 40px)";
            background-color: #379bbb;
            opacity: 0;
            display: block;
            transform-origin: center;
            transform: scale(0);
            transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          &:hover, &.active {
            .ninja-line {
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }
    }
    .other {
      display: flex;
      align-items: center;
      justify-content: center;
      .change-city {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33px;
        .placemarker {
          margin-right: 14px;
          cursor: pointer;
        }
        .city {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          p {
            font-size: 13rem;
            font-weight: 400;
            margin: 0;
          }
          a {
            font-size: 16rem;
            color: @color-link;
          }
        }
      }
      .phone {
        margin: 0 35rem;
        >a{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 33px;
          color: black;
          text-decoration: none;
        }
        .marker {
          margin-right: 15px;
          height: 33px;
        }
        .phone-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          p {
            margin: 0;
            font-size: 13rem;
          }
          p.phone-number {
            font-size: 22rem;
            font-weight: 600;
          }
          .callback {
            display: none;
          }
        }
      }
      .callback {
        .button {
          height: 100%;
        }
      }
    }
  }
}
.block.block-1 {
  background-image: linear-gradient( 270deg, rgb(54,197,217) 17%, rgb(39,133,170) 70%);
  position: relative;
  min-height: 700px;
  height: ~"calc(100vh - 80px)";
  margin-top: 55px;
  max-height: 920px;
  overflow: hidden;
  &.active {
    .main-form {
      transform: translate3d(0, 0, 0);
    }
    .nbook {
      transform: translate3d(0, 0, 0);
    }
  }
  .main-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 430px;
    min-width: 320px;
    max-width: 612px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: ~"calc(48vw - 612px)";
    z-index: 3;
    transition: transform .25s;
    transform: translate3d(~"calc(-1 * (48vw - 612px + 100%))", 0, 0);
    h1 {
      margin: 0;
      font-size: 40rem;
      font-weight: 800;
      padding-bottom: 44px;
      color: white;
    }
    .advantages {
      width: 100%;
      padding-bottom: 44px;
      ul {
        height: 110px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        li {
          margin-right: 35rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .icon {
            margin-right: 25px;
            height: 38px;
          }
          p {
            font-size: 20rem;
            color: white;
            margin: 0;
          }
        }
      }
    }
    .main-button {
      max-width: 337px;
      .button.yellow {
        width: 100%;
        span {
          padding: 20px 0;
          font-size: 30rem;
          font-weight: 800;
        }
      }
      >p {
        width: 90%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 16rem;
        text-align: center;
      }
    }
  }
  .nbook {
    position: absolute;
    width: 52%;
    height: 100%;
    top: 30%;
    bottom: 0;
    right: 0;
    z-index: 3;
    margin: auto;
    transition: transform .25s;
    transform: translate3d(100%, 0, 0);
    &.loaded {
      background-image: url(../../src/screen-mac.png);
    }
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 7% 0 0 16%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    svg {
      width: 80%;
      position: relative;
      top: 30px;
      path {
        stroke: #2B95B7;
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
      }
    }
    p {
      position: relative;
      top: 30px;
      margin-top: 50rem;
      margin-bottom: 0;
      font-weight: 800;
      font-size: 24rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .block.block-1 {
    .main-form {
      left: 50px;
    }
  }
  header.main-header{
    .wrapper {
      width: 100%;
      min-width: 100%;
      .logo {
        .border {
          display: none;
        }
        .slogan {
          display: none;
        }
      }
      .other {
        .change-city .placemarker {
          display: none;
        }
        .phone .marker {
          display: none;
        }
        .phone .phone-container {
          .besbl {
            display: none;
          }
          .callback {
            display: flex;
          }
        }
        .callback {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .block.block-1 {
    .nbook {
      display: none;
    }
    .main-form {
      left: 0;
      right: 0;
      text-align: center;
      align-items: center;
      .advantages ul {
        padding-left: 20px;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  header.main-header .wrapper {
    nav.menu ul {
      flex-direction: column;
      li a {
        padding: 4px;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  header.main-header .wrapper {
    .burger {
      display: block;
    }
    nav.menu {
      display: none;
    }
    .other {
      .change-city {
        display: none;
      }
      .phone {
        margin: 0;
        .marker {
          display: block;
          margin-right: 0;
          height: auto;
        }
        .phone-container {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 515px) {
  header.main-header {
    .wrapper .logo img {
      width: 130px;
    }
  }
  .block.block-1 {
    background-image: linear-gradient(270deg, #1997a9 17%, #2785aa 70%);
    min-height: 580px;
    .main-form {
      h1 {
        font-size: 33rem;
        padding-bottom: 20px;
      }
      .advantages ul {
        height: auto;
        justify-content: center;
        padding-left: 10%;
        li {
          margin: 7px;
        }
      }
    }
  }

}