@color-gray: #aeaeae;
@color-link: #2b90d3;
@color-blue: #2bb0e3;
@color-blueBack: #2785aa;
@color-yellow: #fbe44a;

@ease-inOutQuart: cubic-bezier(0.23, 1, 0.32, 1);

@block-wrapper: 1290px;

.form {
  width: 100%;
  max-width: 630px;
  min-width: 280px;
  .line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 45rem;
    width: 100%;
    >div {
      position: relative;
      width: 48%;
      min-width: 220px;
      &.error {
        input {
          border: 1px solid #d38282;
        }
        &::after {
          content: '* Поле заполнено некорректно';
          position: absolute;
          bottom: -20px;
          font-size: 13rem;
          color: #d38282;
        }
      }
      &.textarea {
        width: 100%;
        >label {
          bottom: auto;
          top: 15rem;
        }
      }
      >label {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15rem;
        transition: .2s;
        color: #767676;
        font-size: 15rem;
        background: white;
        padding: 0 5px;
        height: 22rem;
        margin: auto;
        pointer-events: none;
        transform-origin: left center;
        transform: scale(1.2);
      }
      input {
        width: 100%;
        &:focus {
          outline: none;
          & + label {
            bottom: 100%;
            transform: scale(1);
          }
        }
        &:valid + label {
          bottom: 100%;
          transform: scale(1);
        }
      }
      textarea {
        width: 100%;
        resize: none;
        height: 150px;
        &:focus {
          outline: none;
          & + label {
            top: -10rem;
            transform: scale(1);
          }
        }
        &:valid + label {
          top: -10rem;
          transform: scale(1);
        }
      }
      input, textarea {
        border-radius: 2px;
        border: 1px solid #305b7d;
        font-weight: 600;
        font-size: 16rem;
        padding: 13rem 20rem;
        box-sizing: border-box;
        transition: .2s;
      }
    }
  }
  button {
    margin: auto;
    padding: 10px 45px;
  }
}
.new-page {
  -webkit-overflow-scrolling: touch;
  .hide-anim:not(.all-desc-section) {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    transition: all .35s @ease-inOutQuart;
  }
  .visi-anim {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all .35s @ease-inOutQuart;
  }
  h2 {
    font-size: 40rem;
    font-weight: 800;
    color: black;
    margin-top: 0;
    margin-bottom: 35rem;
    line-height: 1.2;
  }
  >header {
    width: 100%;
    height: 318px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .wrapper-gradient {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #013561;
      transition: all 1s;
      box-sizing: border-box;
      padding: 40px 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        position: relative;
        bottom: 35px;
        color: white;
        font-weight: 800;
        font-size: 50rem;
        margin: 0;
        text-align: center;
        &.center {
          bottom: 0;
        }
      }
      .breadcrumbs {
        position: absolute;
        top: 40px;
        left: 80px;
        color: #78b4e7;
        a {
          font-size: 13rem;
          color: #78b4e7;
          text-decoration: none;
        }
        p {
          font-size: 13rem;
          margin: 0;
        }
        display: flex;
        justify-content: flex-start;
        .delimer {
          font-size: 13rem;
          margin: 0 5px;
        }
      }
      &.hide {
        background-color: transparent;
      }
    }
  }
  section.tabs {
    width: 100%;
    height: 205px;
    position: absolute;
    top: 210px;
    left: 0;
    z-index: 2;
    >p {
      font-size: 25rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 20rem;
      color: #78b4e7;
      text-align: center;
    }
    .tabs-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .tab {
        margin: 0 12px;
        border-radius: 2px;
        width: 304px;
        height: 130px;
        cursor: pointer;
        box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.09);
        transition: all .55s @ease-inOutQuart;
        position: relative;
        .wrap-tab {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: white;
          align-items: flex-start;
          box-sizing: border-box;
          padding: 20rem 25rem;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 20px;
          background-image: url(../../src/newpage/yellow_arrow.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 46px;
          height: 17px;
          transform: translate3d(0, 0, 0);
          transition: all .35s;
          z-index: -1;
        }
        p.name {
          font-size: 20rem;
          font-weight: 600;
          color: black;
          margin: 0;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          overflow: hidden;
          width: 100%;
          min-height: 9px;
          p {
            margin: 0;
            font-weight: 800;
            font-size: 20rem;
          }
          a {
            text-decoration: none;
            color: #013561;
            font-weight: 600;
            font-size: 14rem;
            transform: translate3d(0, 0, 0);
            transition: all .35s .35s;
          }
          .arrow-bottom {
            position: absolute;
            width: 12px;
            height: 8px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translate3d(0, -20px, 0);
            transition: all .35s;
            &.load {
              background-image: url(../../src/newpage/arrow_bottom.png);
            }
          }
        }
        &.active {
          box-shadow: none;
          a {
            transform: translate3d(-20px, 100%, 0);
          }
          .arrow-bottom {
            transform: translate3d(0, 20px, 0);
          }
          .wrap-tab {
            background-color: #ffde00;
          }
          &::before {
            transform: translate3d(0, 100%, 0);
            transition: all .35s .35s;
          }
        }
        &:hover:not(.active) {
          box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
          a {
            color: #458fce;
            transform: translate3d(-20px, 0, 0);
            transition: all .35s;
          }
          .arrow-bottom {
            transform: translate3d(0, 0, 0);
            transition: all .35s .35s;
          }
        }
      }
    }
  }
  .left-nav {
    position: fixed;
    top: 397px;
    left: 0;
    height: 85vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    user-select: none;
    visibility: visible;
    opacity: 1;
    background: white;
    button {
      border: none;
      cursor: pointer;
    }
    &.hidden {
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
    &:hover {
      .infinite-block {
        .block {
          &::after {
            opacity: 0;
            visibility: hidden;
          }
          img {
            filter: grayscale(0);
          }
        }
      }
    }
    .prevPage {
      outline: none;
      text-align: left;
      font-size: 15rem;
      text-transform: uppercase;
      padding: 15px 5vw;
      height: 8vh;
      min-height: 85px;
      box-sizing: border-box;
      background: white;
      position: relative;
      overflow: hidden;
      span {
        z-index: 2;
        position: relative;
      }
      &::after {
        content: '';
        position: absolute;
        background: url(../../src/parrow-left.png) no-repeat;
        width: 8px;
        height: 14px;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 30px;
      }
      svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        rect {
          fill: none;
          stroke: #ededed;
          stroke-width: 4;
          stroke-dasharray: 422, 0%;
          stroke-dashoffset: 48;
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
      &:hover svg rect {
        stroke-dasharray: 35, 250%;
      }
    }
    .scroll2 {
      position: relative;
      background: white;
      width: 100%;
      cursor: pointer;
      outline: none;
      height: 5vh;
      min-height: 15px;
      z-index: 2;
      opacity: 1;
      visibility: visible;
      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
      .arrow {
        background: url(../../src/parrow-top.png) no-repeat;
        width: 22px;
        height: 13px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform-origin: center;
      }
      &.bottom .arrow {
        transform: rotate(180deg);
      }
    }
    .infinite-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      max-height: 60vh;
      overflow: hidden;
      .left-header {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 25%;
        height: 50vh;
        z-index: 2;
        background: url(../../src/Nashi_proekty.png) no-repeat;
        background-size: contain;
      }
      .wrap {
        transform: translate3d(0, 0, 0);
        transition: all 0.2s;
      }
      .gradient {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 5vh;
        &.bottom {
          background-image: linear-gradient(transparent, #ffffff);
          bottom: 0;
        }
        &.top {
          background-image: linear-gradient(#ffffff, transparent);
          top: 0;
          z-index: 2;
        }
        &.hidden {
          visibility: hidden;
          opacity: 0;
        }
      }
      .block {
        padding: 10px 0;
        margin-bottom: 20px;
        width: 100%;
        height: 9vh;
        max-height: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.35s;
        position: relative;
        text-decoration: none;
        color: black;
        z-index: 1;
        &::after {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.6);
          opacity: 1;
          visibility: visible;
          transition: all 0.35s;
        }
        &:hover {
          height: 14vh;
          z-index: 2;
          img {
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 2, 0.3);
          }
          span {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
        img {
          border-radius: 50%;
          transform: scale(1);
          transition: all 0.35s;
          filter: grayscale(90%);
          transform-origin: center top;
          height: 100%;
          z-index: 1;
        }
        span {
          position: relative;
          z-index: 3;
          display: block;
          color: black;
          visibility: hidden;
          opacity: 0;
          margin: 8px;
          transform: translate3d(0, 150%, 0);
          transition: all 0.35s 0.2s;
        }
      }
    }
  }
  .project-img {
    width: 100%;
    min-height: 1000px;
    &+button {
      margin: 30px auto;
    }
  }
  .wrapper-section {
    position: relative;
    width: 100%;
    max-width: 952px;
    margin: auto;
    padding-top: 110px;
    &:nth-of-type(1) {
      padding-top: 130px;
    }
    &.non-padding {
      padding-top: 80px;
    }
    //&.project-wrapper {
    //  padding-top: 61px;
    //  max-width: 92%;
    //}
    section.contacts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 80px;
      .call {
        width: 50%;
        min-width: 320px;
        a.tel {
          display: block;
          text-decoration: none;
          color: black;
          font-weight: 800;
          font-size: 40rem;
        }
        p.small {
          margin: 0;
          font-size: 16rem;
        }
        button {
          margin-top: 40px;
        }
      }
      .email {
        width: 50%;
        min-width: 320px;
        a.mail {
          display: block;
          text-decoration: none;
          color: black;
          font-weight: 800;
          font-size: 30rem;
          span {
            vertical-align: middle;
            img {
              vertical-align: middle;
            }
          }
          .icon {
            margin-right: 25rem;
          }
        }
        p.small {
          margin-bottom: 10px;
          margin-top: 35px;
          font-size: 16rem;
        }
      }
    }
    .main-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.seo {
        position: relative;
        img {
          position: absolute;
          &.seo-arrow {
            z-index: 3;
            bottom: 0;
            left: 0;
          }
          &.seo-nout {
            z-index: 2;
            right: -70px;
            top: 50px;
            animation-name: flying;
            animation-direction: alternate;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
          }
          &.seo-shadow {
            z-index: 1;
            right: -70px;
            top: 493px;
            animation-name: size-boosting;
            animation-direction: alternate;
            animation-duration: 3s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            transform-origin: center;
          }
        }
        .left-side {
          max-width: 560px;
          position: relative;
          z-index: 5;
          p.head {
            max-width: 375px;
          }
          .line-blue {
            margin-top: 125px;
            margin-bottom: 300px;
            padding-left: 20px;
            box-sizing: border-box;
            max-width: 375px;
            border-left: 3px solid #013561;
            font-size: 25rem;
            font-weight: 800;
          }
        }
      }
      .left-side {
        max-width: 520px;
        p.head {
          font-size: 16rem;
          font-weight: 800;
          color: black;
          margin-top: 0;
          margin-bottom: 40rem;
        }
        p.desc {
          font-weight: 400;
          font-size: 16rem;
          color: black;
          margin: 0;
        }
        .br-blue {
          display: block;
          padding-left: 20px;
          border-left: 2px solid #013561;
        }
      }
      .right-side {
        border: 1px solid #d9e1e7;
        padding: 35px;
        max-width: 300px;
        box-sizing: border-box;
        &.ind {
          .wrap p.price {
            font-size: 30rem;
          }
        }
        .wrap {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          p.price {
            font-weight: 800;
            font-size: 40rem;
            margin-top: 0;
            margin-bottom: 15rem;
          }
          p.desc {
            font-weight: 600;
            font-size: 16rem;
            margin-top: 0;
            margin-bottom: 0;
          }
          .line {
            width: 100%;
            height: 1px;
            margin: 20px 0;
            background-color: #d9e1e7;
          }
          .duration {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
              width: 39px;
              height: 46px;
              margin-right: 10px;
            }
            div {
              p {
                margin: 0;
                &.small {
                  font-size: 13rem;
                }
                &.big {
                  font-weight: 800;
                  font-size: 20rem;
                }
              }
            }
          }
          button {
            margin-top: 50px;
            width: 100%;
            padding: 15px 20px;
          }
        }
      }
    }
    .scope-section {
      padding-top: 90px;
      h2 {
        margin-top: 0;
        margin-bottom: 0;
      }
      &.seo {
        margin-bottom: 60px;
        .blocks {
          margin-top: 100px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          .block {
            width: 50%;
            min-width: 320px;
            box-sizing: border-box;
            padding-right: 150px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 40px;
            .icon {
              width: 125px;
            }
            .description {
              width: ~"calc(100% - 125px)";
              p {
                margin: 0;
                &.h {
                  font-size: 18rem;
                  font-weight: 600;
                }
                &.d {
                  font-size: 16rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
      .blocks {
        width: 100%;
        .block {
          &.bigger {
            .scopes {
              width: 66.3%;
              display: inline-flex;
              .scope {
                width: 50%;
                min-width: 300px;
                .icon {
                  width: 22%;
                }
                .desc {
                  width: 78%;
                  p {
                    font-size: 16rem;
                  }
                }
              }
            }
            .right-scope {
              display: inline-block;
              width: 33.3%;
              vertical-align: top;
              background-color: #edf5fb;
              font-weight: 800;
              font-size: 16rem;
              color: black;
              padding: 45rem 55rem;
              box-sizing: border-box;
              position: relative;
              .blue {
                color: #013561;
              }
              &::before {
                content: '';
                position: absolute;
                top: 20rem;
                left: 20rem;
                display: block;
                width: 20rem;
                height: 20rem;
                background-color: #013561;
              }
            }
          }
          p.head {
            font-size: 18rem;
            font-weight: 800;
            margin-top: 50px;
            margin-bottom: 25px;
          }
          .scopes {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            .scope {
              width: 33.33333%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-bottom: 20px;
              min-width: 300px;
              .icon {
                display: flex;
                width: 18%;
              }
              .desc {
                box-sizing: border-box;
                width: 82%;
                padding-right: 10%;
                p {
                  margin: 0;
                  font-size: 15rem;
                }
              }
            }
          }
        }
      }
    }
    .shema-section {
      padding-top: 80px;
      width: 100%;
      h2 {
        margin-top: 0;
        margin-bottom: 38px;
      }
      .blocks {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        &.column {
          flex-direction: column;
          .block {
            width: 70%;
            margin: 20px 0;
          }
        }
        &.four {
          .block {
            width: 25%;
            min-width: 230px;
            p.head {
              word-wrap: break-word;
            }
          }
        }
        .right-block {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #edf5fb;
          font-size: 16rem;
          color: black;
          padding: 45rem 55rem;
          box-sizing: border-box;
          width: 300px;
          p.h {
            font-weight: 800;
            margin-top: 0;
          }
          ul {
            list-style-type: decimal;
            padding-left: 15px;
            li {
              margin: 15px 0;
            }
          }
          &::before {
            content: '';
            position: absolute;
            top: 20rem;
            left: 20rem;
            display: block;
            width: 20rem;
            height: 20rem;
            background-color: #013561;
          }
        }
        .block {
          width: 33.33333%;
          min-width: 270px;
          padding-top: 8px;
          padding-left: 55px;
          padding-right: 20px;
          box-sizing: border-box;
          position: relative;
          p {
            margin: 0;
            &.head {
              font-size: 20rem;
              font-weight: 800;
              margin-bottom: 15px;
            }
            &.desc {
              font-size: 16rem;
            }
          }
          &::before {
            content: '';
            font-size: 90rem;
            font-weight: 800;
            color: #013561;
            position: absolute;
            top: 8px;
            left: 0;
            z-index: 2;
            line-height: .8;
          }
          &::after {
            content: '';
            width: 15px;
            height: 39px;
            background-color: #ffe500;
            position: absolute;
            top: 0;
            left: 30px;
          }
          &:nth-of-type(1)::before {
            content: '1';
          }
          &:nth-of-type(2)::before {
            content: '2';
          }
          &:nth-of-type(3)::before {
            content: '3';
          }
          &:nth-of-type(4)::before {
            content: '4';
          }
          &:nth-of-type(5)::before {
            content: '5';
          }
          &:nth-of-type(6)::before {
            content: '6';
          }
          &:nth-of-type(7)::before {
            content: '7';
          }
          &:nth-of-type(8)::before {
            content: '8';
          }
        }
      }
    }
    .all-desc-section {
      h2 {
        margin: 0;
      }
      .blocks {
        .block {
          max-width: 780rem;
          p.head {
            margin-top: 60px;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 16rem;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              margin-bottom: 15px;
              font-size: 15rem;
              span {
                color: #068fc3;
              }
            }
          }
        }
      }
    }
    &.project-wrapper {
      max-width: 80%;
      margin-left: 15%;
    }
    &.portfolio-wrapper {
      .blockPort {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6em;
        flex-wrap: wrap;
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
        ul {
          padding: 10px 0;
          list-style: none;
          li {
            margin: 10px 0;
            padding-left: 20px;
            background: url(../../src/triaRight.png) no-repeat left center;
          }
        }
        .desc {
          width: 50%;
          min-width: 255px;
          max-width: 470px;
          h4 {
            font-size: 50rem;
            font-weight: 800;
            margin-top: 0;
            margin-bottom: .5em;
            line-height: 1.1;
          }
          a {
            color: #0495e4;
            text-transform: uppercase;
            text-decoration: none;
            padding-right: 15px;
            font-size: 16rem;
            background: url(../../src/triaRight2.png) no-repeat right center;
            &:hover {
              color: #035593;
            }
          }
        }
        .imagePort img {
          width: 100%;
          max-width: 430px;
        }
      }
    }
    >footer {
      font-weight: 600;
      font-size: 16rem;
      padding-top: 70rem;
      padding-bottom: 130rem;
    }
  }
  .specSec {
    margin-top: 70px;
    &.landing-spec {
      background-color: #013561;
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
      &.load {
        background-image: url(../../src/newpage/back-end-landing.png);
      }
      .wrapper-section {
        padding: 50rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .left {
          width: 320px;
          p {
            font-weight: 800;
            font-size: 25rem;
            color: white;
            margin-top: 0;
            margin-bottom: 30rem;
          }
          button {
            width: 230px;
            span {
              padding: 15px 0;
              font-weight: 600;
            }
          }
        }
      }
    }
    &.specIcons {
      .wrapper-section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 0;
        flex-wrap: wrap;
        .block {
          width: 50%;
          min-width: 310px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          .icon {
            width: 18%;
            min-width: 70px;
          }
          .desc {
            width: 82%;
            box-sizing: border-box;
            padding-right: 15%;
            font-weight: 400;
            font-size: 16rem;
            color: black;
          }
        }
      }
    }
    &+.wrapper-section {
      padding-top: 0;
    }
  }
  .wrapper-section.separate+.wrapper-section {
    padding-top: 0;
  }
  svg.triangle {
    width: 100%;
    height: 58px;
    position: relative;
    top: 5px;
    polygon {
      fill: #f6f8f9;
      width: 100%;
      height: 58px;
    }
  }
  .graySec {
    width: 100%;
    background-color: #f6f8f9;
    .wrapper-section.gray {
      padding-top: 70px;
      padding-bottom: 140px;
      h2 {
        margin: 0;
      }
      .images {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .block-image {
          //width: 45%;
          max-width: 48%;
          .before-after {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin: 0;
              font-size: 16rem;
            }
            img {
              margin: 0 15px;
            }
          }
          .image {
            width: 100%;
            box-shadow: none;
            transition: all .5s;
            cursor: pointer;
            &.shadow {
              box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.09);
            }
            img {
              width: 100%;
            }
            &:hover {
              box-shadow: 0 40px 28px 0 rgba(0, 0, 0, 0.15);
            }
          }
        }
      }
    }
  }
  .blueSec {
    width: 100%;
    //background-color: #013561;
    background-image: linear-gradient( 90deg, rgb(1,53,97) 35%, rgb(30,103,164) 73%, rgb(1,53,97) 91%);;
    color: white;
    .wrapper-section.blue {
      padding: 45px 0;
      .consult {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side {
          p.head {
            margin: 0;
            font-weight: 600;
            font-size: 18rem;
          }
          a.tel {
            color: white;
            text-decoration: none;
            font-weight: 800;
            font-size: 40rem;
            margin-top: 25px;
            display: block;
          }
          p.podtel {
            margin-top: 0;
            font-size: 16rem;
            margin-bottom: 15px;
          }
          a.sale-call {
            color: #93f1ff;
            font-size: 16rem;
            font-weight: 600;
            margin-bottom: 40px;
            display: block;
          }
          .button {
            width: 230px;
            padding: 15px 20px;
            span {
              padding: 0;
              font-size: 16rem;
              font-weight: 600;
            }
          }
        }
        .right-side {
          &.load {
            background-image: url(../../src/newpage/right_konsul.png);
          }
          position: relative;
          top: 45px;
          width: 252px;
          height: 280px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          transform-origin: right bottom;
          transform: scale(1.5);
        }
      }
    }
  }
  .contact-sec {
    background-color: #f8f8f8;
    padding: 70rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-contacts {
      h2 {
        margin-top: 0;
        margin-bottom: 40rem;
      }
    }
  }
  footer.main-footer {
    .wrapper {
      max-width: 1113px;
    }
  }
}
@keyframes flying {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 60px, 0); }
}
@keyframes size-boosting {
  from { transform: scale(1); }
  to { transform: scale(1.3); }
}
body > .block {
  &.block-2 {
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    z-index: 2;
    &.fly {
      position: fixed;
      top: 80px;
      z-index: 6;
      left: 0;
      width: 100%;
      transform: translate3d(0, -100%, 0);
      transition: .35s;
      &.active {
        transform: translate3d(0, 0, 0);
      }
    }
    .sector {
      width: 20%;
      background-color: white;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      .border-wrap {
        position: relative;
        z-index: 2;
        padding: 45px 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 2px solid white;
        transition: .25s @ease-inOutQuart;
      }
      .yellow-submarine {
        height: 200px;
        position: absolute;
        bottom: -180px;
        right: 0;
        left: 0;
        margin: auto;
        width: 50%;
        background-color: #fbe44a;
        transform: translate3d(0, 100%, 0);
        transition: .25s .1s @ease-inOutQuart;
      }
      &:nth-child(2n) {
        background-color: #f8f8f8;
        .border-wrap {
          border: 2px solid #f8f8f8;
        }
      }
      &:hover {
        .yellow-submarine {
          transform: translate3d(0, 0, 0);
        }
        .border-wrap {
          border: 2px solid #e8e8e8;
          transform: scale3d(.94, .94, .94);
          filter: none;
          -webkit-filter: blur(0px);
          -moz-filter: blur(0px);
          -ms-filter: blur(0px);
          filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        }
        .wrap-sector .icon svg .fil0 {
          fill: #FFDD30;
        }
        .wrap-sector .link {
          transform: scale3d(1.13, 1.13, 1.13) translate3d(0, 11px, 0);
          filter: none;
          -webkit-filter: blur(0px);
          -moz-filter: blur(0px);
          -ms-filter: blur(0px);
          filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        }
      }
      .wrap-sector {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .icon {
          margin-bottom: 40rem;
          max-height: 0;
          transition: all .35s;
          &.active {
            max-height: 130px;
          }
          svg {
            height: 125px;
            .str0 {
              stroke:#2B2A29;
              stroke-width:173.944;
              stroke-linecap:round;
              stroke-linejoin:round;
              &.str2 {
                stroke-width:310.127;
              }
              &.str3 {
                stroke-width:537.61;
              }
              &.str4 {
                stroke-width:7996.37;
              }
              &.str5 {
                stroke-width:213.641;
              }
            }
            .fil1 {
              fill:none;
            }
            .fil0 {
              transition: fill .25s;
              fill:#fff;
            }
          }
        }
        .desc {
          text-align: center;
          p {
            margin: 0;
            &.title {
              font-size: 20rem;
            }
            &.price {
              margin-top: 5rem;
              font-size: 35rem;
              font-weight: 800;
            }
          }
        }
        .link {
          position: relative;
          z-index: 2;
          margin-top: 25rem;
          text-align: center;
          transition: .25s @ease-inOutQuart;
          a {
            color: #03425b;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 16rem;
            font-weight: 800;
          }
        }
      }
    }
  }
  &.block-3 {
    position: relative;
    background-color: #ffffff;
    header {
      padding: 70px 0 30px;
      text-align: center;
      h3 {
        color: black;
        margin: 0;
        font-size: 40rem;
        font-weight: 800;
      }
    }
    .slider-navigation {
      position: relative;
      height: 55px;
      box-sizing: border-box;
      padding: 11px 20px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav {
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding: 20px;
        &.back {
          img {
            margin-right: 35px;
            transform: rotate(180deg);
          }
        }
        &.next {
          img {
            margin-left: 35px;
          }
        }
      }
      .dot-wrapper {
        filter: blur(5px) contrast(10);
        position:relative;
        background-color: white;
        .select{
          display:block;
          border-radius:100%;
          width: 15px;
          height: 15px;
          background: #000;
          position:absolute;
          z-index:3;
          top: 26px;
          left: 15px;
          pointer-events:none;
        }
      }
      .dots {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        position:relative;
        background-color: white;
        .dot {
          width: 15px;
          height: 15px;
          background-color: white;
          border: 6px solid black;
          border-radius: 100%;
          cursor: pointer;
          margin: 0 5px;
          z-index: 2;
          position: relative;
        }
      }
    }
    .slider {
      position: relative;
      background-color: white;
      .slider-content {
        padding-top: 50px;
        padding-bottom: 50px;
        .carousel {
          .item {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-right: 1px solid #e8e8e8;
            .left {
              width: 100%;
              padding: 0 10%;
              box-sizing: border-box;
              .mac {
                &.load {
                  background-image: url(../../src/Macbook.png);
                }
                background-repeat: no-repeat;
                background-size: cover;
                padding: 4% 15% 9% 16%;
                img {
                  cursor: pointer;
                }
              }
            }
            .present-button {
              margin-top: 25rem;
              margin-bottom: 35rem;
            }
            .right {
              width: 100%;
              box-sizing: border-box;
              padding: 0 10%;
              .right-item_head {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .left-head {
                  .title {
                    font-weight: 600;
                    font-size: 20rem;
                    margin: 0;
                  }
                  .signature {
                    font-size: 13rem;
                    margin: 0;
                  }
                }
                .right-head {
                  font-weight: 600;
                  font-size: 16rem;
                  text-align: right;
                  p {
                    margin: 0;
                  }
                }
              }
              .desc {
                font-size: 16rem;
              }
            }
          }
        }
      }
      .slider-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 65rem;
        padding-bottom: 33rem;
      }
    }
  }
  &.block-4 {
    display: flex;
    justify-content: center;
    &.load {
      background-image: url('../../src/company-back.jpg');
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100rem 0;
    .wrapper {
      width: @block-wrapper;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .head {
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 60px;
        h3 {
          margin: 0;
          color: white;
          font-size: 36rem;
          font-weight: 800;
          text-align: left;
        }
        p {
          color: white;
          margin-top: 40rem;
          text-align: left;
          font-weight: 600;
          font-size: 22rem;
        }
      }
      .about {
        width: 66.66%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .about-block {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 50%;
          margin-bottom: 50rem;
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            svg {
              width: 55px;
              .str1 {stroke:#FEFEFE;stroke-width:694.603}
              .str0 {
                stroke:#FEFEFE;
                stroke-width:195.144;
                stroke-linecap:round;
                stroke-linejoin:round;
                &.str2 {
                  stroke-width:694.603;
                }
                &.str3 {
                  stroke-width:674.726;
                }
                &.str4 {
                  stroke-width:634.122;
                }
                &.str5 {
                  stroke-width:167.008;
                }
                &.str6 {
                  stroke-width:186.808;
                }
              }
              .fil0 {
                fill:none
              }
            }
          }
          .desc {
            max-width: 223px;
            color: white;
            font-size: 16rem;
            .liner {
              margin-top: 10rem;
              height: 2px;
              width: 45px;
              background: #fff;
            }
          }
        }
      }
    }
  }
  &.block-5 {
    background-color: #f4f4f4;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    .wrapper {
      max-width: @block-wrapper;
      width: 100%;
      header {
        margin: 35rem 0;
        p {
          margin: 0;
          text-align: center;
          font-size: 24rem;
        }
      }
      .carousel-wrap {
        position: relative;
        padding: 0 35px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        .arrows {
          position: absolute;
          height: 100%;
          width: 98%;
          top: 0;
          bottom: 0;
          .prev {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 36px;
            margin: auto;
            cursor: pointer;
            transform-origin: center;
            transform: rotate(180deg);
            display: flex;
            align-items: flex-end;
          }
          .next {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: 36px;
            margin: auto;
            cursor: pointer;
          }
        }
      }
      .banners {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
      }
      footer {
        margin: 15px 0;
        p {
          margin: 0;
          font-size: 16rem;
          text-align: center;
        }
      }
    }
  }
  &.block-6 {
    background-color: white;
    padding-top: 50rem;
    padding-bottom: 50rem;
    display: flex;
    justify-content: center;
    header {
      h3 {
        margin-top: 0;
        margin-bottom: 40rem;
        font-size: 40rem;
        font-weight: 800;
        text-align: center;
      }
    }
    .wrapper {
      width: @block-wrapper;
      .advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        .ava-block {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 33.33%;
          .icon {
            width: 100px;
            margin-right: 30rem;
            display: flex;
            justify-content: flex-end;
            svg {
              width: 100%;
              .str0 {stroke:#2B2A29;stroke-width:5.85495;stroke-linecap:round;stroke-linejoin:round}
              .fil0 {fill:none}
            }
          }
          .desc {
            max-width: 243px;
            p {
              margin: 0;
              font-size: 15rem;
            }
          }
        }
      }
      .support-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40rem;
        a {
          color: black;
          font-size: 24px;
          font-weight: 800;
          text-decoration: none;
        }
        p.small {
          margin: 0;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }
  &.block-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005679;
    &.load {
      background-image: url(../../src/lampa-men.jpg);
    }
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30% 0;
    position: relative;
    padding: 100rem 0;
    .market {
      max-width: 458px;
      width: 100%;
      position: relative;
      left: 10%;
      h4 {
        margin: 0;
        font-weight: 800;
        font-size: 30rem;
        color: white;
        span {
          color: @color-yellow;
          text-transform: uppercase;
        }
      }
      button.button.yellow {
        width: 100%;
        margin-top: 42rem;
        text-align: center;
        span {
          font-weight: 800;
          font-size: 25rem;
          padding: 10px 0;
        }
      }
    }
  }
}
footer.main-footer {
  background-color: #041f34;
  .wrapper {
    max-width: 1274px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 65rem;
    padding-bottom: 55rem;
    flex-wrap: wrap;
    .footer-block {
      margin-bottom: 30rem;
      min-width: 220px;
      h4 {
        margin: 0;
        font-size: 25rem;
        font-weight: 800;
        color: #5583a7;
      }
      &.social {
        .links .link .icon {
          width: 50px;
        }
      }
      .links {
        padding: 50rem 0;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        li {
          padding: 10rem 0;
          transition: .25s;
          span {
            color: #315f81;
            margin-right: 7px;
          }
          &:hover {
            transform: translate3d(5px, 0, 0);
          }
          a {
            color: white;
            font-size: 15rem;
            font-weight: 600;
            text-decoration: none;
          }
        }
        .link {
          padding: 10rem 0;
          display: flex;
          transition: .25s;
          align-items: center;
          &:hover {
            transform: translate3d(5px, 0, 0);
          }
          .icon {
            display: flex;
            width: 30px;
          }
        }
        a {
          color: white;
          font-size: 15rem;
          font-weight: 600;
          text-decoration: none;
        }
      }
      .callus {
        a.tel {
          text-decoration: none;
          color: white;
          font-size: 30rem;
          font-weight: 800;
        }
        p.podtel {
          color: #315f81;
          margin: 0;
          font-size: 14rem;
          font-weight: 400;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1510px) {
  body > .block.block-7 {
    background-position: 20% 0;
  }
}
@media screen and (max-width: 1340px) {
  .close-new-page {
    z-index: 6;
    right: 0;
  }
  .new-page {
    width: 100%;
  }
  footer.main-footer {
    .wrapper {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
}
@media screen and  (max-width: 1210px) {
  body > .block.block-7 {
    &.load {
      background-image: none;
    }
    .market {
      left: 0;
    }
  }
}
@media screen and (max-width: 920px) {
  body > .block {
    &.block-2 {
      flex-direction: column;
      .sector {
        width: 100%;
        padding: 25px 0;
        .wrap-sector {
          flex-direction: row;
          justify-content: center;
          .icon {
            margin-bottom: 0;
          }
          .desc {
            margin: 0 20px;
          }
          .link {
            margin-top: 0;
          }
        }
      }
    }
    &.block-3 {
      .slider .slider-content .carousel .item {
        border-right: none;
      }
    }
    &.block-4 {
      padding: 50rem 0;
      .wrapper {
        flex-direction: column;
        align-items: center;
        .head {
          width: 100%;
          margin-bottom: 30px;
        }
        .about {
          width: 80%;
          min-width: 330px;
          box-sizing: border-box;
          padding: 0 20px;
        }
      }
    }
    &.block-6 {
      .wrapper {
        .advantages {
          padding: 0 20px;
          box-sizing: border-box;
          .ava-block {
            width: 50%;
          }
        }
      }
    }
  }
  .new-page {
    section.tabs .tabs-container .tab {
      text-align: center;
      &::before {
        left: 0;
        right: 0;
        margin: auto;
      }
      .bottom {
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 10px;
        }
        .arrow-bottom {
          display: none;
        }
      }
      &.active a {
        transform: translate3d(0, 100%, 0);
      }
    }
    .wrapper-section {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      .main-section {
        &.seo {
          .left-side .line-blue {
            margin-top: 50px;
            margin-bottom: 0;
          }
          img {
            display: none;
          }
        }
        flex-wrap: wrap;
        justify-content: space-around;
        .left-side {
          margin-bottom: 60px;
        }
      }
      section.contacts {
        .call {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .email {
          display: flex;
          flex-direction: column;
          align-items: center;
          a.mail .icon {
            display: none;
          }
        }
      }
      .shema-section {
        .blocks {
          justify-content: space-around;
          .right-block {
            position: relative;
            margin-top: 30px;
          }
          .block {
            margin: 20px 0;
          }
        }
      }
      .scope-section .blocks .block.bigger .right-scope {
        width: 100%;
      }
      .scope-section.seo .blocks .block {
        padding-right: 0;
      }
    }
    .blueSec .wrapper-section.blue {
      padding-left: 20px;
      padding-right: 20px;
    }
    .specSec.landing-spec {
      &.load {
        background: #013561;
      }
      .wrapper-section {
        justify-content: center;
        text-align: center;
        .left {
          box-sizing: border-box;
          padding: 0 20px;
        }
        .left .button {
          margin: auto;
        }
      }
    }
    .specSec.specIcons .wrapper-section {
      justify-content: space-around;
      .block {
        margin: 20px 0;
      }
    }
  }
  footer.main-footer {
    .wrapper {
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 640px) {
  body > .block {
    &.block-4 {
      .wrapper {
        .about .about-block {
          width: 100%;
        }
      }
    }
    &.block-6 {
      .wrapper {
        .advantages {
          .ava-block {
            width: 100%;
            .icon {
              width: 140px;
            }
          }
        }
      }
    }
    &.block-7 {
      .man {
        display: none;
      }
      .market {
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
  }
  .new-page {
    .wrapper-section {
      section.contacts {
        .call {
          margin-bottom: 25rem;
        }
      }
    }
    .blueSec {
      background: #013561;
      .wrapper-section.blue .consult {
        .left-side {
          text-align: center;
          width: 100%;
          button {
            margin: auto;
          }
        }
        .right-side {
          display: none;
        }
      }
    }
  }
  .form {
    padding: 0 20px;
    .line {
      flex-wrap: wrap;
      > div {
        width: 100%;
        + div {
          margin-top: 45rem;
        }
      }
    }
  }
  .close-new-page {
    background: transparent;
    padding: 0 0 20px 20px;
    box-shadow: none;
    img {
      width: 15px;
      padding: 10px;
      background: #dedede;
    }
  }
  .modal {
    padding: 60rem 20px;
    .form {
      padding: 0;
    }
  }
}
@media screen and (max-width: 560px) {
  .new-page {
    .wrapper-section:nth-of-type(1) {
      padding-top: 230px;
    }
    .wrapper-section.non-padding {
      padding-top: 30px;
    }
    section.tabs .tabs-container {
      flex-wrap: wrap;
      .tab {
        min-width: 180px;
        margin: 10px 12px;
        height: 70px;
        .wrap-tab {
          padding: 10rem 25rem;
        }
        &::before {
          display: none;
        }
        .bottom {
          flex-direction: row;
          align-items: center;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  body > .block {
    &.block-2 {
      .sector .wrap-sector {
        flex-direction: column;
      }
    }
    &.block-3 {
      header h3 {
        font-size: 30rem;
      }
      .slider-navigation {
        .dot-wrapper {
          display: none;
        }
        .nav {
          padding-left: 20px;
          padding-right: 20px;
          &.next {
            img {
              margin-left: 0;
            }
          }
          &.back {
            img {
              margin-right: 0;
            }
          }
        }
      }
    }
    &.block-4 {
      .wrapper {
        .head {
          padding: 0 40px;
        }
        .about {
          padding: 0 40px;
        }
      }
    }
    &.block-5 {
      .wrapper {
        box-sizing: border-box;
        padding: 0 20px;
        header {
          margin: 0 0 35rem 0;
          p {
            font-size: 20rem;
          }
        }
      }
    }
    &.block-6 {
      padding-top: 30rem;
      padding-bottom: 30rem;
      .wrapper {
        box-sizing: border-box;
        padding: 0 20px;
        header h3 {
          font-size: 30rem;
        }
        .advantages .ava-block .icon {
          display: block;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .new-page {
    .wrapper-section .shema-section .blocks .right-block {
      width: 100%;
    }
    .graySec .wrapper-section.gray .images .block-image {
      max-width: 90%;
    }
  }
}