body {
  margin: 0;
  padding: 0;
}
.preloader {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 1s;
  svg {
    //visibility: hidden;
    width: 25%;
    max-width: 500px;
    .fil0 {fill:#2B2A29}
    .fil1 {fill:#0074AD}
    .fil2 {fill:#0074AD}
    .slash {
      stroke:#0074AD;
      stroke-width:24.5581;
      fill: none;
      //stroke-dashoffset: 9800;
      //opacity: 0;
    }
    .letters {
      opacity: 0;
    }
    .point {
      transform: scale(0);
      transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform-origin: center;
      &.active {
        transform: scale(1);
      }
    }
    .tria {
      opacity: 0;
    }
  }
  &.start {
    background-color: #dedede;
  }
  &.go {
    opacity: 0;
    visibility: hidden;
  }
}